[Desktop Entry]
Name=Serial Mate
Comment=Modern Serial Port Debugging Tool
Exec=/usr/bin/serial-mate
Icon=serial-mate
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=serial;uart;debug;communication;
StartupNotify=true
